@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200;300;800&family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@500&family=Montserrat:wght@500&family=Prompt:wght@500&display=swap");

body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1971c2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    font-family: Poppins, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:focus {
    box-shadow: unset !important;
    outline: none !important;
}

a {
    text-decoration: none;
}

p {
    color: rgb(54, 54, 54);
    line-height: 1.6;
    letter-spacing: 0.7px;
}

img {
    display: inline-block;
}

button {
    cursor: pointer;
    display: inline-block;
}

strong {
    color: #104577;
    font-weight: 500;
}

.container {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 576px) {
    .container {
        padding: 0 30px;
    }
}

.d-inline-block {
    display: inline-block;
}

.login-logo {
    width: 100px;
    margin-bottom: 2px;
}

.header-logo-desktop {
    width: 220px;
}

.header-logo-mobile {
    display: none;
    width: 90px;
}

@media (max-width: 480px) {
    .header-logo-desktop {
        display: none;
    }

    .header-logo-mobile {
        display: inline-block;
    }
}

.bank-name {
    font-family: Kodchasan;
    color: #74b816;
    text-align: right;
    font-weight: 300;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 40px;
}

.main-title {
    color: #104577;
    margin-bottom: 30px;
    font-family: "Kodchasan";
    text-align: center;
    font-size: 25px;
}

@media (min-width: 576px) {
    .main-title {
        font-size: 37px;
        margin-bottom: 50px;
    }
}

.header {
    background-color: #0f4d8b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23757193' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    box-shadow: 0 10px 20px 0 #0b376438;
    padding: 15px 20px;
}

@media (min-width: 576px) {
    .header {
        padding: 15px 0;
    }
}

.header a {
    color: #fff;
    font-weight: 400;
}

.header a.active {
    color: #74b816 !important;
    font-weight: 500;
}

.footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.466);
    font-weight: 14px;
    padding: 50px 20px 30px;
}

.header-content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.main-nav > a,
.main-nav button {
    color: rgba(255, 255, 255, 0.493);
}

@media (min-width: 768px) {
    .main-nav {
        flex-direction: row;
        gap: 25px;
    }

    .main-nav > a,
    .main-nav button {
        color: #fff;
    }
}

.nav-link {
    display: inline-block;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

.nav-link:hover {
    color: #74b816;
    font-weight: 400;
}

.main-login {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.main-inner {
    padding: 50px 25px 30px;
    background-color: #fbfbfb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c6c4c8' fill-opacity='0.19' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    border-radius: 15px;
    margin-top: 40px;
    box-shadow: 0 5px 10px 0 #155da194;
    position: relative;
}

@media (min-width: 576px) {
    .main-inner {
        padding: 80px 50px;
        margin-top: 60px;
        min-height: 70vh;
    }
}

.btn-main,
.accounts-btn {
    font-family: "Montserrat";
    color: #fff;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    text-align: center;
}

.btn-main {
    padding: 0.8em 2.5em;
}

.accounts-btn {
    padding: 5px 20px;
}

.accounts-btn:hover {
    background: #104577;
    color: #fff;
}

.btn-green {
    background-color: #74b816;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23093010' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.btn-yellow {
    background-color: #fcc419;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23093010' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.btn-red {
    background-color: #d9480f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23093010' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.btn-main:hover {
    background: #104577;
}

.btn-blue {
    padding: 0.8em 1.5em !important;
    background: #104577;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23093010' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.btn-blue:hover {
    background-color: #74b816;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23093010' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

input {
    font-family: Poppins, sans-serif;
    display: block;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    padding: 0.7em 2em;
    font-size: 15px;
    background: #dae3ec;
    width: 100%;
}

.registration-form {
    max-width: 100%;
    margin: 85px auto;
}

@media (min-width: 768px) {
    .registration-form {
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .registration-form {
        max-width: 40%;
    }
}

.registration-form input,
.registration-form button {
    margin: 15px auto;
}

.registration-form input:last-of-type {
    background: #0d4880c0;
    color: #fff;
}

.login-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form,
.inner-form {
    padding: 40px;
    background-color: #fbfbfb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c6c4c8' fill-opacity='0.19' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    border-radius: 15px;
    border: solid 3px #fff;
    box-shadow: 0 5px 10px 0 #155da194;
}

.login-form {
    width: 280px;
    max-width: 100%;
    padding: 20px;
}

@media (min-width: 576px) {
    .login-form {
        width: 450px;
        padding: 40px;
    }
}

.inner-form {
    margin-top: 100px;
}

.logout-btn {
    background: none;
    color: white;
    border: none;
    padding: 0;
}

.logout-icon {
    margin-left: 6px;
}

.money-operation-box {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 80px auto 30px;
    gap: 20px;
    grid-template-columns: 90%;
}

.account-info-box {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
    border-bottom: solid 1px rgba(102, 102, 102, 0.116);
    padding: 30px 0;
    width: 100%;
}

@media (min-width: 400px) {
    .account-info-box {
        padding: 27px;
    }
}

@media (min-width: 576px) {
    .money-operation-box {
        grid-template-columns: 70%;
    }
}

@media (min-width: 768px) {
    .account-info-box {
        grid-template-columns: auto auto;
    }

    .money-operation-box {
        grid-template-columns: 50%;
    }
}

@media (min-width: 992px) {
    .account-info-box {
        grid-template-columns: 8% 20% 22% 28%;
    }

    .money-operation-box {
        grid-template-columns: 40%;
    }
}

@media (min-width: 1200px) {
    .money-operation-box {
        grid-template-columns: 30%;
    }
}

/* .account-info-box:first-child {
    border-top: solid 1px rgba(102, 102, 102, 0.116);
} */

.person-icon {
    margin-right: 5px;
    color: #74b816;
    font-size: 13px;
}

.add-person-icon,
.add-icon,
.minusicon {
    margin-right: 5px;
    font-size: 13px;
}

.img-box {
    display: flex;
    justify-content: center;
}

.id-number {
    color: rgba(102, 102, 102, 0.856);
}

.balance {
    background: #1970c21c;
    padding: 7px 20px;
    border-radius: 18px;
    width: 220px;
}

.add-money-pic,
.withdraw-money-pic {
    width: 100px;
    margin-top: 30px;
    opacity: 0.7;
    display: inline-block;
}

.full-name,
.personal-number-abbr,
.iban-lt-chars {
    color: #104577;
    font-weight: 500;
}

.accounts-right-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (min-width: 992px) {
    .accounts-right-box {
        padding-left: 60px;
        border-left: solid 1px rgba(102, 102, 102, 0.116);
    }
}

.accounts-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 220px;
}

.money-pic {
    position: absolute;
    display: none;
    right: 40px;
    bottom: 30px;
    width: 120px;
}

@media (min-width: 576px) {
    .money-pic {
        display: inline-block;
    }
}

.error-block {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #0b2d4d;
}

.error-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* ALERTS */

.error-red,
.success-green {
    color: #fff;
    padding: 10px 30px;
    border-radius: 15px;
    font-size: 13px;
    margin-bottom: 15px;
}

.error-red {
    background-color: #d9480f;
}

.success-green {
    background-color: #74b816;
}

/* FILTERS */

.filters-container {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    margin-bottom: 25px;
    padding: 17px 27px;
    border: 1px solid #1045777c;
    border-radius: 30px;
}

.filter-form {
    display: flex;
    align-items: center;
    gap: 20px;
}

input.search-input {
    width: unset;
    display: inline-block;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 30px;
    margin-bottom: 0;
    background-color: #e2ebf4;
    font-size: 15px;
}

.search-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10.5px 30px;
    background-color: #104577;
}

.search-btn:hover {
    background-color: #74b816;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23093010' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.search-form {
    display: flex;
}

.filter-select {
    background-color: #e2ebf4;
    font-size: 14px;
    border: none;
    padding: 10.5px 40px 10.5px 25px;
    border-radius: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: unset;
    background: url("../img/angle-down-solid.svg") #e2ebf4 no-repeat
        calc(100% - 12px) !important;
    background-size: 10% !important;
}

/*For IE*/
select::-ms-expand {
    display: none;
}

::placeholder,
select option,
select {
    color: #82888d;
    font-size: 15px;
    font-family: Poppins;
}

label.filters-label {
    color: #363636;
    margin-right: 12px;
    font-size: 15px;
}

.filter-btn {
    border-radius: 20px;
    margin-left: 12px;
}

.reset-btn {
    background-color: #6673808f;
    margin-left: 5px;
}

.reset-btn:hover {
    color: #fff;
}

nav p.small.text-muted {
    display: none;
}

.main-inner nav div {
    justify-content: center !important;
    align-items: center;
}

.active > .page-link {
    background: #e2ebf4;
    border-color: #66738041;
    color: #363636;
}

.page-link,
.page-link:hover,
.page-link:active {
    color: #363636;
    padding: 5px 15px;
    border-color: #66738041;
}

.page-link:focus {
    box-shadow: none;
}

.pagination-container {
    margin-top: 30px;
    margin-right: 48px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.results-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.results-text {
    line-height: 24px;
    color: #104577;
    font-size: 15px;
}
